body {
  color: $text-default;
  letter-spacing: 0.02em;
  font-family: "Roboto", sans-serif, serif;

  .container {
    @include flex(column wrap, center, center);

    margin: 0;

    .section {
      margin: 0;

      &--top {
        display: flex;

        margin: 0;
      }
    }
  }

  // Media Queries for Responsiveness
  // Mobile
  @media screen and (max-width: $breakpoint-mobile) {
    & {
      max-width: $mobile__width-max;

      .container {
        box-sizing: border-box;
        max-width: $mobile__width-min;

        .main {
          @include flex(column wrap, center, center);
          max-width: $mobile__width-max;
        }

        .section {
          justify-content: center;

          max-width: $mobile__width-max;

          padding: 60px 0;

          &--top {
            max-width: $mobile__width-min;

            padding: 60px 0 0 0;
          }
        }
      }
    }
  }

  // Tablet
  @media screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
    .container {
      min-width: $tablet__width-min;

      .main {
        max-width: $tablet__width-max;
      }

      .section {
        max-width: $tablet__width-max;

        &--top {
          max-width: $tablet__width-max;
        }
      }
    }
  }

  // Desktop
  @media screen and (min-width: $breakpoint-desktop) {
    .container {
      min-width: $desktop__width-min;

      .main {
        max-width: $desktop__width-max;
      }

      .section {
        max-width: $desktop__width-max;

        padding: 94px 0 94px 0;

        &--top {
          max-width: $desktop__width-max;

          padding: 94px 0 0 0;
        }
      }
    }
  }
}
