.main__regular-customers {
  @include flex(row wrap, center, center);

  &__heading {
    width: 100%;

    text-align: center;
  }

  &__element {
    transition: color $transition-default, border-color $transition-default;
    box-sizing: border-box;

    @include flex(row nowrap, center, center);

    height: 92px;

    color: $svg-inactive;

    border: 1px solid $svg-inactive;
    border-radius: 4px;

    &:active {
      @extend .main__regular-customers__element;
    }

    &:hover,
    &:focus {
      color: $brand-blue;

      border-color: $brand-blue;
    }
  }

  @media screen and (max-width: $breakpoint-mobile) {
    & {
      gap: 30px;

      &__element {
        width: 210px;
      }

      &__heading {
        font-size: 28px;
      }
    }
  }

  @media screen and (min-width: $breakpoint-desktop) {
    & {
      gap: 50px 30px;

      &__element {
        width: 170px;
      }
    }
  }
}
